<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WYFISA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C39090721D2C9AF7000DFD15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C39090861D2C9AF8000DFD15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C39090911D2C9AF8000DFD15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
